    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        text-align: center;
    }
    table {
        border-collapse: collapse;
        margin: 20px auto;
    }
    td {
        width: 60px;
        height: 60px;
        text-align: center;
        vertical-align: middle;
        font-size: 40px;
    }
    /* Black square background and white text color for pieces */
    #black {
        background-color: #0a0038;
        color: white;  /* Set the text color to white to make pieces visible */
    }
    /* White square background and black text color for pieces */
    #white {
        background-color: #eeeed2;
        color: #0a0038;  /* Keep the default color for white squares */
    }
